*{
    margin:0;
    padding:0;
    color: #40AD44;
    background-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}



p{ 
    font-size: medium;
    font-weight: 500;
    line-height: 2rem;
}


h1{
    font-weight:bolder;
    width: min-content;
    
    
}

#heading{
    font-weight:bolder;
    font-size: 5rem;
}

h2{
    font-size: medium;
   
}
 
h3{
    font-size: medium;
   
}


#topbar{
    
    margin-top: 2rem;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;


    @media only screen and (max-width: 500px){
        flex-direction: column;
        align-items: center;
    }
}

#portfolio{
    margin-right: 17rem;
    margin-left: 7rem;
    font-weight: bolder;
    font-size: larger;
    @media only screen and (max-width: 500px){
        margin: 0;
    }
}



#navbar{
    display: flex;
    flex-direction: row;
}

#p1{
    text-decoration: none;
    margin-right: 2rem;
    font-size: medium;
    width: min-content;
}

#p2{
    text-decoration: none;
    margin-right: 2rem;
    font-size: medium;
    width: min-content;
}

#p3{
    text-decoration: none;
    
    font-size: medium;
    width:min-content;
    
}


#main{
    
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media only screen and (max-width: 500px){
        flex-direction: column;
        align-items: center;
    }
    
    
}

#home{
    line-height: 1.6rem;
    display: flex;
    flex-direction: column;
    
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    margin-left: 8rem;
    margin-right: 5rem;
    @media only screen and (max-width: 500px){
        align-items: center;
        margin-bottom: 3rem;
        margin-left: 0;
        margin-right: 0;
        #heading{
            font-size: 3rem;
        }
    }
} 

#image{
    
    margin: 0;
    padding: 1rem;
    border-color:#40AD44;
    border-style:dashed ;
    border-width: 0.05rem;
    border-radius: 50rem;
    height: 23rem;
    width: 23rem;
    margin-right: 5rem;
    @media only screen and (max-width: 500px){
        margin: 0;
        height: 18rem;
        width: 18rem;
        
    }

   
    }

    .me{
        animation: fadeIn 2s infinite;}
        @keyframes fadeIn {
            0%{ opacity:0;}
            50%{ opacity:5;}
            100%{ opacity:0;}
    }

img{
    border-radius: 50rem;
    
    height: 23rem;
    margin-top: 0;
    @media only screen and (max-width: 500px){
        margin: 0;
        height: 18rem;
        
    }
}

button{
    background-color: #F7F197;
    
    color: black;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight:500 ;
    border-radius: 1rem;
    width: 6rem ;
    

}

.about{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
    width: 100%;
    margin-top: 7rem;
    @media only screen and (max-width: 500px){
        justify-content:center;
        align-content: center;
        margin-left: 2rem;
        margin-right: 2rem;
        width: 320px;
        h1{
            width: 320px;
            text-align: center;
        }
        p{
            width: 320px;
            text-align: center;
        }
    
    }
    

}


#about{
    margin-left: 7rem;  
    width: 60rem;
    @media only screen and (max-width: 500px){
    margin: 0;
    width: 320px;
    
    
    }
    
}

.work{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
    width: 100%;
    margin-top: 7rem;
    @media only screen and (max-width: 500px){
        justify-content:center;
        align-content: center;
        margin-left: 2rem;
        margin-right: 2rem;
        width: 320px;
        h1{
            width: 320px;
            text-align: center;
        }
        p{
            width: 320px;
            text-align: center;
        }
    
    }

}

#work{
    margin-left: 7rem;
    
    width: 60rem;
    @media only screen and (max-width: 500px){
        width: fit-content;
        margin: 0;
        width: 320px;
    }
    
    
    
}

#boxes{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    width: fit-content;
    @media only screen and (max-width: 500px){
        width: 10rem
    } 
    
    animation: slideIn 2s infinite;}
    @keyframes slideIn{
        0%{transform: translateX(-3rem);}
        50%{transform: translateX(0rem);}
        100%{transform: translateX(3rem);}
        
    }
    

#box1{
    background-color: #282828;
    margin-top: 3rem;
    padding: 6rem;
    display: inline-block;
    @media only screen and (max-width: 500px){
        padding: 1rem;
        height: 1rem;
        width: 1rem;
        margin: 1rem;
    }

}


#box2{
    background-color: #282828;
    margin-top: 3rem;
    padding: 6rem;
    margin-left: 2rem;
    display: inline-block;
    @media only screen and (max-width: 500px){
        padding: 1rem;
        height: 1rem;
        width: 1rem;
        margin: 1rem;
    }
}

#box3{
    background-color: #282828;
    margin-top: 3rem;
    padding: 6rem;
    margin-left: 2rem;
    display: inline-block;
    @media only screen and (max-width: 500px){
        padding: 1rem;
        height: 1rem;
        width: 1rem;
        margin: 1rem;
    }
}

#box4{
    background-color: #282828;
    margin-top: 3rem;
    padding: 6rem;
    margin-left: 2rem;
    display: inline-block;
    @media only screen and (max-width: 500px){
        padding: 1rem;
        height: 1rem;
        width: 1rem;
        margin: 1rem;
    }
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 7rem;
    margin-top: 7rem;
    @media only screen and (max-width: 500px){
        justify-content:center;
        align-content: center;
        margin-left: 2rem;
        margin-right: 2rem;
        width: 320px;
        h1{
            width: 320px;
            text-align: center;
        }
        p{
            width: 320px;
            text-align: center;
        }

        a{
            width: 320px;
            text-align: center;  
            display: inline-block;
        }
    
    }
}

#contact{
    margin-left: 7rem;
    width: 60rem;
    @media only screen and (max-width: 500px){
        width: fit-content;
        margin: 0;
        width: 320px;
    }
    
}

a{
    text-decoration: none;
    font-size: medium;
    font-weight: 500;
    line-height: 1.6rem;
}
@media only screen and (max-width: 767px) {
    .content {
        padding: 20px; 
    }
}


