*{
    margin:0;
    padding:0;
    color: #40AD44;
    background-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}



p{ 
    font-size: medium;
    font-weight: 500;
    line-height: 2rem;
}


h1{
    font-weight:bolder;
}

h2{
    font-size: medium;
   
}
 
h3{
    font-size: medium;
   
}


#topbar{
    
    margin-top: 2rem;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#portfolio{
    margin-right: 17rem;
    margin-left: 7rem;
    font-weight: bolder;
    font-size: larger;
}

.center{
    text-decoration: none;
    margin-right: 3rem;
    font-size: medium;
    display: flex;
    flex-direction: row;
}

#main{
    
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    
}

#home{
    line-height: 1.6rem;
    display: flex;
    flex-direction: column;
    
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    margin-left: 8rem;
    


} 

#image{
    
    margin: 0;
    padding: 1rem;
    border-color:#40AD44;
    border-style:dashed ;
    border-width: 0.05rem;
    border-radius: 50rem;
    height: 23rem;
    width: 23rem;
    margin-right: 5rem;

   
    }

    .me{
        animation: fadeIn 2s infinite;}
        @keyframes fadeIn {
            0%{ opacity:0;}
            50%{ opacity:5;}
            100%{ opacity:0;}
    }

img{
    border-radius: 50rem;
    
    height: 23rem;
    margin-top: 0;
}

button{
    background-color: #F7F197;
    
    color: black;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight:500 ;
    border-radius: 1rem;
    width: 6rem ;
    

}

.about{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
    
    margin-top: 7rem;

}

#about{
    margin-left: 7rem;  
   
    
}

.work{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
    
    margin-top: 7rem;

}

#work{
    margin-left: 7rem;
    
    
    
    
}

#boxes{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    width: fit-content;
    
    animation: slideIn 2s infinite;}
    @keyframes slideIn{
        0%{transform: translateX(-10rem);}
        50%{transform: translateX(0rem);}
        100%{transform: translateX(10rem);}
    }

#box1{
    background-color: #282828;
    margin-top: 3rem;
    padding: 6rem;
    display: inline-block;

}


#box2{
    background-color: #282828;
    margin-top: 3rem;
    padding: 6rem;
    margin-left: 2rem;
    display: inline-block;
}

#box3{
    background-color: #282828;
    margin-top: 3rem;
    padding: 6rem;
    margin-left: 2rem;
    display: inline-block;
}

#box4{
    background-color: #282828;
    margin-top: 3rem;
    padding: 6rem;
    margin-left: 2rem;
    display: inline-block;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    margin-bottom: 7rem;
    margin-top: 7rem;
}

#contact{
    margin-left: 7rem;
    
}

a{
    text-decoration: none;
    font-size: medium;
    font-weight: 500;
    line-height: 1.6rem;
}




